<div>
    <!-- Total Amount -->
    <div class="d-flex justify-content-between align-items-center mb-3">
      <span>Total Amount</span>
      <span class="font-weight-bold text-success">Tk {{ order.total }}</span>
    </div>

    <!-- Payment Method -->
    <div class="mb-3">
      <label class="mr-1">Payment Method</label>
      <div class="btn-group btn-group-toggle d-flex justify-content-end" data-toggle="buttons">
        <label class="btn btn-outline-success" [class.active]="paymentMethod === PaymentMethodStatus.Cash" (click)="selectPaymentMethod(PaymentMethodStatus.Cash)">
          <input type="radio" name="paymentMethod" autocomplete="off"> Cash
        </label>
        <label class="btn btn-outline-success" [class.active]="paymentMethod === PaymentMethodStatus.BankOrCard" (click)="selectPaymentMethod(PaymentMethodStatus.BankOrCard)">
          <input type="radio" name="paymentMethod" autocomplete="off"> Bank/Card
        </label>
        
        <label class="btn btn-outline-success" [class.active]="paymentMethod === PaymentMethodStatus.MFS" (click)="selectPaymentMethod(PaymentMethodStatus.MFS)">
          <input type="radio" name="paymentMethod" autocomplete="off"> MFS
        </label>
      </div>
    </div>
    <div class="form-group" *ngIf="paymentMethod === PaymentMethodStatus.BankOrCard">
      <label for="bankName">Bank Name</label>
      <input
        type="text"
        class="form-control"
        id="bankName"
        [(ngModel)]="bankName"
        
        placeholder="Enter Bank"
      />
    </div>
    <!-- Input Amount -->
    <div class="form-group">
      <label for="inputAmount">Input Amount(Calculation  Press Enter)</label>
      <input
        type="number"
        class="form-control"
        id="inputAmount"
        [(ngModel)]="inputAmount"
        (keyup.enter)="onEnter()"
        placeholder="Enter amount & Press Enter"
      />
    </div>

    <!-- Payment Details -->
    <div class="row mt-3">
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span>Subtotal</span>
              <span>Tk {{ order.subTotal }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Vat/Tax</span>
              <span>Tk {{ order.vatAmount }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Discount</span>
              <span>Tk {{ order.discountAmount ? order.discountAmount: 0 }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Adjustment</span>
              <span>Tk {{ order.adjustmentAmount ? order.adjustmentAmount : 0 }}</span>
            </div>
            <div class="d-flex justify-content-between font-weight-bold">
              <span>Total</span>
              <span><strong>TK{{ order.total }}</strong> </span>
            </div>
          </div>
        </div>
      
      </div>
      <div class="col-6">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <span>Taken</span>
              <span>Tk {{ taken }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Return</span>
              <span>Tk {{ returnAmount }}</span>
            </div>
            <div class="d-flex justify-content-between text-success">
              <span>Paid</span>
              <span>Tk {{ paid }}</span>
            </div>
            <div class="d-flex justify-content-between text-danger">
              <span>Due</span>
              <span>Tk {{ due }}</span>
            </div>
            <div class="d-flex justify-content-between">
              <span>Status</span>
              <span class="text-success"><strong>{{ status }}</strong></span>
            </div>
          </div>
        </div>
      
      </div>
    </div>
<hr>
<div class="d-flex justify-content-end">
  <button type="button" class="btn btn-secondary" (click)="onClose()">Close</button> &nbsp;
  <button type="button" class="btn btn-outline-primary" (click)="onReceipt()">Receipt</button>&nbsp;
  <button type="button" class="btn btn-success" (click)="onSave()">Save</button>
</div> 
</div>
<!-- <app-order-details-print [orderId]="orderId"></app-order-details-print> -->